* {
    box-sizing: border-box;
  }
  *:last-child {
    margin-bottom: 0;
  }
  
  html {
    color: #909090;
    font-family: "Segoe WPN";
    font-size: 19px;
    font-weight: 400;
  }
  
  .container {
    max-width: 982px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .wrapper {
    position: relative;
    overflow: hidden;
  }
  
  
  a {
    color: #3c3c3c;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  figure {
    margin: 0;
  }
  
  p,
  ul,
  ol {
    margin: 0 0 16px 0;
  }
  
  * + p,
  * + ul,
  * + ol {
    margin-top: 16px;
  }