.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid transparent;
    border-radius: 0px;
    font-size: 16px;
    line-height: inherit;
    font-family: sans-serif;
    padding: 11px 13px;
    font-weight: 300;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

  }
  
  .button:hover {
    text-decoration: none;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button-primary {
    color: #ffffff;
    background-color: #5094f2;
    
  }
  .button-primary:hover {
    color: #ffffff;
    background-color: #2a5faa;
  }
  @media(min-width:480px){
    .button {
        margin: 0;
        
      }
  }
  .icon-button{
    margin-right: 15px;
  }
  @media(min-width:960px){
    .button {
        font-size: 20px;
        
        padding: 17px 20px;
        
    
      }
  }
