.hero{
    padding: 22px 0px;
}
.hero-body{
    text-align: center;
    margin-bottom: 34px;
    
}
.hero-title{
    padding-top: 22px;
    color: #ffffff;
    font-size: 23px;
    line-height: 1.2em;
    margin: 0;
    font-weight: 300;
}
.hero-subtitle{
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2em;
    margin-top: 0px;
    
}
.phone{
    max-width: 345px;
    margin: 0 auto;
}
@media(min-width:320px){
    .phone{
        margin: 0 auto;
        max-width: 200px;
    }
}
@media(min-width:480px){
    .hero-body{
        text-align: start;
        max-width: 286px;;
    }
    .phone{
        margin: 0;
    }
}
@media(min-width:960px){
    .hero-title{
        font-size: 28px;
    }
    .hero-subtitle{
        font-size: 19px;
        
    }
    
}

