.hero{
    padding-top: 22px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-body{
    max-width: 391px;
    
}
.hero-title{
    padding-top: 22px;
    color: #ffffff;
    font-size: 23px;
    font-size: 31px;
    line-height: 35.94px;
    margin: 0;
    text-align: center;
}
.hero-subtitle{
    display: inline-block;
    font-size: 23px;
    color: #ffffff;
    line-height: 35.94px;
    text-align: center;
    margin: 0px;
    
}
.phone{
    width: 177px;
    height: 223px;
    margin: 0 auto;
    align-items: flex-end;
}

@media(min-width:480px){
    .hero-title{
        padding-top: 22px;
        color: #ffffff;
        font-size: 23px;
        font-size: 31px;
        line-height: 35.94px;
        margin: 0;
        text-align: start;
    }
    .hero-subtitle{
        font-size: 23px;
        color: #ffffff;
        line-height: 35.94px;
        text-align: start;
        margin: 0px;
    }
    .phone{
        width: 177px;
        height: 223px;
        margin: 0;
        align-items: flex-end;
    }
    
}
@media(min-width:640px){

    .phone{
        width: 345px;
        height: 436px;
        margin: 0;
    }
    
}
@media(min-width:960px){

    .phone{
        width: 300px;
        height: 370px;
        margin: 0;
    }
    
}