.hero{
    padding-top: 22px;
    display: flex;
}
.hero-body{
    max-width: 391px;
    text-align: center;
    margin-bottom: 34px;
    
}
.hero-title{
    padding-top: 22px;
    color: #ffffff;
    font-size: 23px;
    line-height: 22px;
    margin: 0;
}
.hero-subtitle{
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    line-height: 22px;
    margin-top: 0px;
    
}
.phone{
    max-width: 165px;
    margin: 0 auto;
}

@media(min-width:480px){
    .hero-body{
        text-align: start;
        
    }
    .phone{
        max-width: 353px;
        margin: 0;
    }
}
@media(min-width:960px){
    .hero-body{
        text-align: start;
        max-width: 391px;
        
    }
    .hero-title{
        padding-top: 22px;
        color: #ffffff;
        font-size: 30px;
        line-height: 33px;
        margin: 0;
    }
    .hero-subtitle{
        display: inline-block;
        font-size: 26px;
        color: #ffffff;
        line-height: 29px;
        margin-top: 0px;
        
    }
    
}

