
.nav-item{
    margin-right: 15px;
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    position: relative;
}
.nav-item:hover::before{
    content: "";
    position: absolute;
    background-color: #5094f2;
    height: 3px;
    width: 100%;
    bottom: -22px;
}
.nav-item.is-active::before{
    content: "";
    position: absolute;
    background-color: #5094f2;
    height: 3px;
    width: 100%;
    bottom: -22px;

}
@media(min-width:320px){
    .nav{
        display: none;
    }
}
@media(min-width:640px){
    .nav{
        display: flex;
        align-items: flex-end;
    }
}
