.row {
    display: flex;
    flex-wrap: wrap;
    margin: -33px;
  }
  .row > .column {
    padding: 33px;
  }
  .row-shop{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .row-shop > .column {
    padding: 15px;
  }
